* {
  background-color: #edf9fe;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}
.SplashScreen {
  background-color: #001c55;
  color: white;
  text-align: center;
  height: 100vh;
  position: relative;
}
.App {
  overflow-x: hidden ;
}
.splashscreentext {
  width: 100%;
  position: absolute;
  top: 50%;
  background-color: transparent;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.splashscreenname {
  animation: blink 1s infinite;
  background-color: transparent;
  text-align: center;
  font-family: cursive;
}

@keyframes blink {
  0% {
    color: #fff;
  }
  20% {
    color: #ccc;
  }
  40% {
    color: #aaa;
  }
  80% {
    color: #777;
  }
}

.navbar-nav li {
  margin-right: 30px;
}

.Header {
  animation-fill-mode: both;
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: react-reveal-23759827100215-2;
}

.footer-text {
  width: 100%;
  color: rgb(127, 141, 170);
  opacity: 1;
}


.highlight {
  font-size: 20px;
  border-bottom: 2px solid olivedrab;
}

.educationlogo {
  height: 200px;
  width: 200px;
 border-radius: 50%;
 border: 1px solid #d9dbdf;
 box-shadow: 5px 5px 5px #d9dbdf;
 padding: 8px;
}
.body-side{
  border: 1px solid #d9dbdf;
}

.body-header-title * {
  background-color: #03CEA4;
}
.body-header-title {
  background-color: #03CEA4;
    padding: 15px;
}
.body-header-duration {
  padding: 15px;
}
.body-content {
  padding: 15px;
}
.logo-holder{
  position: relative;
  width: 220px;
}
.educationlogo {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  
}

.cert-header {
  display: flex;
  justify-content: center;
}
.cert-card {
  width: 30%;
  border: 1px solid green ;
}
.certs-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}




.navbar-collapse {
  z-index: 199;
}





@media (max-width: 1000px) {
 svg {
  max-width: 100%;
 }

 .degree-card {
  display: block !important;
 }
 .educationlogo {
  position: relative !important;
 }
}